<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Top reviewers</title>
</head>

<body>
  <div class="container p-2">

    <h2 class="py-6 text-2xl">Reviewers sorted by num of approved/rejected PRs</h2>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="border-collapse border border-slate-400 p-1">Reviewer</th>
          <th class="border-collapse border border-slate-400 p-1">Num of approved/disapproved PRs</th>
          <th class="border-collapse border border-slate-400 p-1">Num of commented PRs</th>
          <th class="border-collapse border border-slate-400 p-1">Num of requested PRs</th>
          <th class="border-collapse border border-slate-400 p-1">Num of PRs with<br>no review response</th>
        </tr>
      </thead>
      <tbody>
        {% for reviewer_data in reviewers_with_most_prs %}
          <tr>
            <td class="border-collapse border border-slate-400 p-1">{{ reviewer_data.user }}</td>
            <td class="border-collapse border border-slate-400 p-1">{{ reviewer_data.prs_where_review_finished | length }}</td>
            <td class="border-collapse border border-slate-400 p-1">{{ reviewer_data.prs_where_commented | length }}</td>
            <td class="border-collapse border border-slate-400 p-1">{{ reviewer_data.prs_where_review_was_requested | length }}</td>
            <td class="border-collapse border border-slate-400 p-1">
              {{ reviewer_data.prs_where_no_review_response | length }}, <span
                >{{ reviewer_data.percentage_of_prs_with_missing_review }}% </span>
                <details>
                  <summary><small>List of PRS:</small></summary>
                  <ul>
                      {% for pr_uid in reviewer_data.prs_where_no_review_response %}
                        <li>{{ pr_uid }}</li>
                      {% endfor %}
                    </ul>
                </details>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


    <h2 class="py-6 px-2 text-2xl">Reviewers by their response time</h2>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="border-collapse border border-slate-400 p-1">Reviewer</th>
          <th class="border-collapse border border-slate-400 p-1">Avg response time (review request - comment)</th>
          <th class="border-collapse border border-slate-400 p-1">% of reviews > 2h</th>
          <th class="border-collapse border border-slate-400 p-1">Num of PRs reviewed</th>
          <th class="border-collapse border border-slate-400 p-1">Num of PRs that weren't reviewed</th>
        </tr>
      </thead>
      <tbody>
        {% for reviewer_data in fastest_reviewers %}
            <tr>
              <td class="border-collapse border border-slate-400 p-1">{{ reviewer_data.user }}</td>
              <td class="border-collapse border border-slate-400 p-1">
                {{ reviewer_data.avg_reaction_time_str }}
                <br/>
                <small>
                  seconds: {% for review_time in reviewer_data.sorted_reaction_times %}{{ review_time.total_seconds() | int }}{{ ", " if not loop.last else "" }}{% endfor %}
                </small>
              </td>
              <td class="border-collapse border border-slate-400 p-1">{{ reviewer_data.num_of_reviews_above_two_hours / reviewer_data.reaction_times | length * 100 }}</td>
              <td class="border-collapse border border-slate-400 p-1">{{ reviewer_data.num_of_prs_reviewed }}</td>
              <td class="border-collapse border border-slate-400 p-1">{{ reviewer_data.prs_with_no_review | length }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>

